
.book-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fde5d3;
  padding: 0 10px;
  border-left: 25px solid #c7f5f5;
  margin: 25px 0;
}

.book-card-title {
  grid-column: 1/3;
}

.book-card-details {
  grid-column: 1/3;
}

.book-card-image {
  grid-row: 1/3;
  grid-column: 3/4;
  align-self: center;
  padding: 10px 0;
}

.book-card-description {
  grid-column: 1/4;
}

.view-more,
a {
  color: #037575;
  font-weight: 800;
}
