.search-ui {
  margin: 10px auto;
  max-width: 75%;
}

input {
  background: white url(../../assets/google_watermark.gif) no-repeat 5% 50%;
  border: 1px solid #999999;
  height: 18px;
  outline-color: #c7f5f5;
  margin-right: 5px;
}

input:valid {
  background: white;
}

.selected {
  background-color: #c7f5f5;
  border-radius: 5px;
}

.search-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h3 {
  display: inline-block;
  padding: 10px 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

button {
  color: #037575;
  background-color: #c7f5f5;
  border: 2px solid #037575;
}

button:disabled {
  color: lightslategray;
  background-color: darkgray;
  border-color: darkgray;
}
