
<h2 class="search-title">Search By:</h2>
<div class="search-ui">
  <div class="search-options">
    <h3 (click)="searchBooksBy('+intitle')" [class.selected]="searchBy==='+intitle'"><label>Title</label></h3>
    <h3 (click)="searchBooksBy('+inauthor')" [class.selected]="searchBy==='+inauthor'"><label>Author</label></h3>
    <h3 (click)="searchBooksBy('+subject')" [class.selected]="searchBy==='+subject'"><label>Subject</label></h3>
  </div>
  <div class="search-container">
    <div>
      <input #searchTerm required (keyup.enter)="searchBooks(searchTerm.value)" (keyup)="0" />
      <button (click)="searchBooks(searchTerm.value)" [class.filled]="" [disabled]="!searchTerm.value">Search</button>
    </div>
    <div [hidden]="searchTerm.value"><p>please enter a search term</p></div>
  </div>
</div>

<div *ngIf="books">
  <div *ngFor="let book of books.items" class="book-list">
    <app-book-card [book]="book.volumeInfo"></app-book-card>
  </div>
  <div *ngIf="books.totalItems===0">No books found</div>
</div>


